body{
  background-color: #6961ae;
}
.cabecera{
  background-color: #fff;
}
.img-logo{
  height: auto;
  margin: 10px;
  width: 100%;
}
.redes{
  align-items: flex-end;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;  
}
.redes a{
  border-radius: 5px;
  margin: 5px 5px 10px 5px;
  padding: 10px;
  text-align: center;
  width: 40px;
}
.redes-facebook{
  background-color: #3b5998;
}
.redes-twitter{
  background-color: #55acee;
}
.redes-instagram{
  background-color: #125688;
}
.redes-youtube{
  background-color: #bb0000;
}
.redes-vine{
  background-color: #00A478;
}
.redes a i{
  color: #fff;
}
.menu{
  background-color: #00acd8;
}
.menu ul li{
  margin: 0px 20px;
}
.menu ul li a{
  color: #fff;
  padding: 15px 0px;
}
.menu ul li>a:hover{
  background-color: #9f3997;
}
.cuerpo{
  background-color: #fff;
  margin-top: 30px;
}
article{
  margin: 15px 0px 45px 0px;
}
.articulo-contenido{
  margin-bottom: 15px;
}
.user-comment{
  background-color: #fff;
  border-radius: 5px;
  display: block;
  font-size: 70px;
  text-align: center;
  width: 100%;
}
.buscar{
  margin-top: 15px;
}
footer,
footer a,
footer a:hover{
  color: #fff;
}
footer a:hover{
  text-decoration: underline;
}